body {
    font-family: "Georgia", serif;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 50%;
    background: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-weight: bold  !important ;
    color: #16342cf1 !important ; 
    margin-bottom: 50px  !important ;
}



.login-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
}

.login-box h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

label {
    font-size: 14px;
    margin: 5px 0;
    color: #16342cf1;
}

input {
    width: 80%;
    padding: 12px 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #F5F5F5; 
    border-radius: 20px; 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15), 
                -4px -4px 6px rgba(255, 255, 255, 0.7); 
    transition: all 0.3s ease-in-out;
}

input:focus {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2),
                inset -3px -3px 5px rgba(255, 255, 255, 0.7); 
    background: #EFEFEF;
}


.sign-in {
    display: block;
    margin: 20px auto; 
    background-color: #16342cf1;
    color: white;
    padding: 10px 48px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.sign-in:hover {
    background-color: #0c2e26;
}

.divider {
    width: 1px; 
    background-color: #215346f1;
    height: 70%; 
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
}


.image-container img {
    max-width: 300px; 
    height: auto;
}


h2{
    font-size: 40px;
    color: #16342cf1;
}


.illustration-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50%;
    overflow: hidden;
}

.illustration-box img {
    max-width: 80%;
    height: auto;
    object-fit: contain;
}
