body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3e3e3;
    margin: 0;
    font-family: "Georgia", serif;
}


.container {
    background-color: white;
    width: 700px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 
                0px 4px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.left-section,
.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
    border-right: 1.4px solid #1a4439f1; 
    padding-right: 20px;
    width: 50%;
    box-sizing: border-box;
}


.right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
    padding-left: 20px;
    width: 50%;
    box-sizing: border-box;
}


h1 {
    margin-bottom: 10px; 
    color: #16342cf1;
    font-size: 44px;
}

input {
    width: 80%;
    padding: 12px 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #F5F5F5; 
    border-radius: 20px; 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15), 
                -4px -4px 6px rgba(255, 255, 255, 0.7); 
    transition: all 0.3s ease-in-out;
}

input:focus {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2),
                inset -3px -3px 5px rgba(255, 255, 255, 0.7); 
    background: #EFEFEF;
}
.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    font-size: 18px;
    color: #16342cf1;
    display: block;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 18px auto; 
    background-color: #16342cf1;
    color: white;
    padding: 10px 53px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

button:hover {
    background-color: #0c2e26;
}


@media (max-width: 768px) {
    .container {
        width: 90%;
        flex-direction: column;
        padding: 20px;
    }

    .left-section,
    .right-section {
        width: 100%;
        text-align: center;
        border-right: none; 
    }

    .form-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input,
    button {
        width: 90%; 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 28px;
    }

    input {
        font-size: 14px;
        padding: 10px;
    }

    button {
        font-size: 16px;
        padding: 10px 0;
    }
}

