body {
    font-family: "Georgia", serif;
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: #3d3d3d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-size: 16px;
    height: 50px;
    position: relative;
}

.profile-icon {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-icon i {
    font-size: 20px;
    background-color: transparent;
    padding: 6px;
    border-radius: 40%;
    border: 2px solid #E3E3C4; 
    color: #E3E3C4;
}


.dropdown-menu {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #3d3d3d;
    color: #E3E3C4;
    border-radius: 12px;
    padding: 12px;
    width: 90px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: none;
    text-align: center;
}


.dropdown-menu::before {
    content: none;
}


.user-text {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 6px;
}


.dropdown-menu hr {
    border: 0;
    height: 1px;
    background-color: #ffffff60;
    margin: 6px 0;
}


.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-decoration: none;
    color: #E3E3C4;
    font-size: 14px;
}


.logout i {
    font-size: 14px;
    border: none;  
    padding: 0; 
    display: inline; 
}



main {
    max-width: 900px; 
    margin: auto; 
    padding: 20px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px; 
    margin-bottom: 30px;
}

.card {
    background-color: #cfcfcf;
    padding: 15px;
    text-align: center;
    height: 110px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.module {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px; 
}

.assignment {
    font-size: 19px;
    font-weight: bold;
    margin-top: 3px; 
    margin-bottom: 10px;
    text-transform: capitalize;
}


.submit-btn, .completed-btn {
    background-color: #3d3d3d;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.submit-btn:hover, .completed-btn:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
